mat-card {
  padding: 1rem;
  margin-bottom: 1rem;
}

mat-spinner {
  margin: auto;
}

mat-form-field {
  display: block;
}

button {
  width: max-content;
}

input[type="file"] {
  visibility: hidden;
}

.image-preview {
  height: 5rem;
  margin: 1rem 0;
}

.image-preview img {
  height: 100%;
}
