<%- include("header") -%>

<div class="box" id="heading">
  <h1> <%= listTitle %> </h1>
</div>

<div class="box">

  <% newListItems.forEach(item => { %>
  <form>
    <div class="item">
      <input type="checkbox">
      <p><%=  item.name  %></p>
    </div>
  </form>
  <% }) %>

  <form class="newtem" action="/" method="post">
    <input type="text" name="itemName" placeholder="New Item" autocomplete="off">
    <button type="submit" name="list">+</button>
  </form>

</div>

<%- include("footer") -%>